p
{

color:#532c1f; font-size:24px; font-family: Arabic Typesetting;
}
.cups
{
 background-color:#efebe9;
}

.cup
{
    background-color:#efebe9;
    width:33.3%;
    float: right;

}

.clearfix
{
    clear:both ;
}

.coffeee
{
text-color: white:
 background-color:none;
}

.coffee
{
    background-color:none;
    width:100%;
    color: white:
    float: center;

}


header
 {
color:indianred; font-size: 50px; padding: 50 px;  text-align: left; height: 100px; width: 500px; font-family: Monotype Corsiva;
}

a 
{ 
background-color: lightred; text-decoration: none; color: darksalmon;
}

li 
{
display: inline-block; padding-right: 5px;
}

*
{
 text-align: center; 
}
